*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: relative;
}


.main{
    margin: 0;
    padding: 0;
    background-color: #61b9b3;
    height: 100vh;
    width: 100%;
    
}

.text-main{
    position: relative;
    text-align: center;
    top: 20%;
    color: #eae8e8;
}
.main h3{
    font-size: 4rem;
    text-transform: uppercase;
    font-family: monospace;
}
.main p {
    margin-top: 30px;
    font-size: 1.5rem;
    font-family: monospace;
    position: relative;
}
.portfolio{
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 3em;
    background-color: #ffffff;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card{
    width: 30%;
    height: 500px;
    display: inline-block;
    margin: 0 40px;
}
.container{
    margin: 40px 40px 40px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card p{
    text-align: center;
    font-size: 2.5em;
    position: relative;
    font-family: monospace;
    top: 50%;
    transform: translate(0,-50%);
    color: #000;
}
.section {
    background-color: #eae8e8;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: monospace;
}
.submit {
    background-color: #61b9b3;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
h1 {
    font-size: 15pt;
    color: #61b9b3;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed #000000;
    padding: 10px;
}
